*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
}

.card{
    perspective:1000px;
}

.card-inner{
    width:340px;
    padding:30px;
    border-radius:25px;
    text-align:center;
    background:rgba(255,255,255,.12);
    backdrop-filter:blur(15px);
    box-shadow:
    0 20px 40px rgba(0,0,0,.4);
    transform-style:preserve-3d;
    transition:.5s;
}

.card-inner:hover{
    transform:
    rotateX(10deg)
    rotateY(-10deg)
    scale(1.05);
}

img{
    width:170px;
    height:170px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid white;
    box-shadow:0 10px 25px rgba(0,0,0,.4);
    transform:translateZ(40px);
}

h1{
    margin-top:20px;
    color:white;
    font-size:34px;
    transform:translateZ(35px);
}

p{
    margin-top:12px;
    color:#f1f1f1;
    line-height:28px;
    font-size:17px;
    transform:translateZ(25px);
}

button{
    margin-top:25px;
    padding:12px 35px;
    border:none;
    border-radius:30px;
    background:#00c6ff;
    color:white;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
    transform:translateZ(40px);
}

button:hover{
    background:#0072ff;
    transform:translateZ(40px) scale(1.1);
}