body{
    max-width:1270px;
    background-color:#243b55;
    margin: 0 auto;
}
.hero-container{
    display: flex;
    background-color: aquamarine;
    padding: 30px;
    font-size: 1.30em;
    text-align:justify;
    align-items: center;
    border-radius: 20px;

}
.hero-container img{
    width: 100%;
    height: auto;
}
p{
    padding: 0 10px;
}
button{
    padding: 10px;
    margin: 0 60px;
    font-size: 1.20em;
    color: rgb(78, 78, 145);
    background-color: rgb(55, 55, 109);
    border-radius: 20px;
    cursor: pointer;
}
img{
    border-radius: 9px;
}