body{
    max-width: 1170px;
    background-color: rgb(128, 114, 98);
    margin: 0 auto;
}
.card-container{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;

}
.card-section{
    text-align: center;
}
.card{
    width: 250px;
    border: 2px solid darkgray;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px;
    background-color: rgb(221, 200, 172);
    text-align: left;
}
.card:hover{
    background-color: rgb(243, 202, 152);
}
.card img{
    width: 100%;
}
.card h3{
    font-size: 1.30em;
}
button{
    padding: 10px;
    margin: 0 10px;
    font-size: 1.20em;
    color: rgb(236, 6, 6);
    background-color: rgb(6, 230, 144);
    border-radius: 5px;
    cursor: pointer;
}